[Unit]
Description=Sync media and check for updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=__USER__
WorkingDirectory=__DIR__
ExecStart=/usr/bin/python3 __DIR__/main.py sync
ExecStart=/usr/bin/python3 __DIR__/code_update.py

