[Unit]
Description=VLC Player code update (forced git reset)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi/vlc-player
ExecStart=/usr/bin/python3 /home/pi/vlc-player/code_update.py


