[Unit]
Description=Sync media and check for updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=__USER__
WorkingDirectory=__DIR__
StandardOutput=journal
StandardError=journal
ExecStart=/bin/bash -c '/usr/bin/python3 __DIR__/src/media_sync.py; /usr/bin/python3 __DIR__/src/code_update.py'
