[Unit]
Description=VLC Player Schedule Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=__USER__
WorkingDirectory=__DIR__
ExecStart=/usr/bin/python3 __DIR__/src/scheduler_sync.py
