[Unit]
Description=VLC Player Schedule Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=__USER__
WorkingDirectory=__DIR__
ExecStartPre=/bin/mkdir -p __DIR__/logs
ExecStart=/bin/bash -c '/usr/bin/python3 __DIR__/src/scheduler_sync.py > __DIR__/logs/vlc-scheduler-sync-$(date +%%Y-%%m-%%d_%%H-%%M-%%S).log 2>&1'
